.euro {
  .container-body-home {
    .container-bodyhome-left {
        .headline-euro {
            margin-bottom: 32px;
            position: relative;
            border-top: solid 2px #F9BF4B;
            .text {
                background-color: #143CDB;
                text-transform: uppercase;
                color: #fff;
                padding: 12px 0px 12px 16px;
                font-family: "Plus Jakarta Sans", sans-serif;
                font-weight: 700;
                line-height: 150%;
                font-size: 16px;
            }
            .background {
                width: 100%;
                height: 406px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
            }
            .absolute-head {
                position: absolute;
                left: 0;
                bottom: 25px;
                background: rgba(31, 35, 105, 0.85);
                padding: 16px;
                div {
                    font-family: "Plus Jakarta Sans", sans-serif;;
                    font-weight: 700;
                    &:first-child {
                        font-size: 16px;
                        color: #FFCB50;
                        line-height: 150%;
                        margin-bottom: 8px;
                        text-transform: uppercase;
                    }
                    &:nth-child(2) {
                        color: white;
                        font-size: 20px;
                        line-height: 150%;
                    }
                }
              }
          }
      .container-right-bodyhome.euro {
        background: #fff;
        .widget-title-new {
          background-image: url(../img/backgroundtitle.png);
          width: 100%;
          height: 41px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          text-transform: uppercase;
          color: #fff;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-weight: 700;
          padding-left: 28px;
          padding-top: 10px;
        }
        .body-right-bodyhome {
          .content-listx {
            .jscroll-inner {
              ul {
                .list-contentx {
                  width: 100%;
                  li {
                    &.highlight-news.euro {
                        background:#0D1E62;
                        .category-hardnews {
                            margin-bottom: 11px;
                            .subcat {
                                a {
                                    color: #FFCB50; 
                                }
                            }
                        }
                        .title-content {
                            a {
                                color: #fff;
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 140%;
                            }
                        }
                        p {
                            color: #fff;
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 140%;
                        }
                        .content-hardnews {
                            .mh-clock {
                                color: #FFCB50;
                            }
                        }
                    }
                    .content-hardnews {
                        .category-hardnews {
                          .subcat.c-bola {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            a {
                              &:first-child {
                                width: 100%;
                                height: 16px;
                                img {
                                  width: 100%;
                                  height: 100%;
                                  object-fit: cover;
                                }
                              }
                              &:nth-child(2) {
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-weight: 700;
                                font-size: 12px;
                                color: #294483;
                                text-transform: uppercase;
                                line-height: 22px;
                              }
                            }
                          }
                        }
                        h2 {
                          a {
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 19.6px;
                            color: #212121;
                          }
                        }
                        p {
                          font-family: "Plus Jakarta Sans", sans-serif;
                          font-weight: 400;
                          font-size: 14px;
                          line-height: 19.6px;
                          color: #212121;
                        }
                        .mh-clock {
                          font-family: "Plus Jakarta Sans", sans-serif;
                          color: #0d1e62;
                          font-size: 12px;
                          line-height: 16.8px;
                          font-weight: 700;
                          text-transform: capitalize;
                        }
                      }
               
                  }
                       }
              }
            }
          }
        }
      }
    }
  }
}


#topscore {
    position: relative;
    background-color: #0D1E62;
    padding: 16px;
    border-top: 2px solid yellow;
    overflow: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;;
    &:after {
        content: "";
        width: calc(100% + 1px);
        height: 154px;
        display: block;
        position: absolute;
        bottom: -1px;
        left: -1px;
        background-image: url(../img/topscore@2x.png);
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    .title {
        font-size: 16px;
        line-height: 20.16px;
        text-align: left;
        margin-bottom: 12px;
        color: #fff;
        font-weight: 700;
    }

    .boxed {
        z-index: 9;
        position: relative;
    }

    .box-flex {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }

    .text-header {
        background: #FFE066;
        padding: 8px 12px;
        border-radius: 8px 8px 0 0;
        display: flex;
        font-weight: 700;

        .text {
            font-size: 14px;
            line-height: 17.64px;
            color: #0D1E62;
        }
    }

    .text-body {
        background-color: #1F2369;
        border-radius: 0 0 8px 8px;
        font-weight: 400;

        .box-flex {
            padding: 12px;
            border-bottom: 1px solid #FFE066;
            display: flex;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        .text {
            font-size: 14px;
            color: #F4F4F4;
        }
    }

    .name {
        width: 33%;
    }

    .country {
        width: 33%;
    }

    .gol {
        width: 33%
    }
}
